@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  border: none;
  outline: none;
}

.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .profile .conteiner {
    width: 80%;
    height: 80%;
/*     background: #f699ff; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
/*     position: relative; */
   }
   .head{
     font-size:2.5em;
     color:#b800ca;
     animation: deslizar 1s ease-out forwards;
   }
   .head .code{
     font-weight:600;
     padding:0px 20px;
     font-size:1.5em;
     color:#282828;
   }
   .p-info{
     padding:20px 0px;
     width:30%;
     justify-content:space-around;
   }
    .profile .conteiner div{
      display:flex;
      align-items:center;
    }

.title {
  text-align: center;
  color: #b800ca;
  padding: 10px 30px;
  width: 250px;
  border-radius: 30px;
  position: relative;
}
  .title:before {
    content: '';
    width: 100%;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    background: #FCDFFF;
    bottom: 5px;
    left: 0;
    z-index: -1;
  }

.seccion-b {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding:0px 100px;
}
  .section-b h1 {
    margin-bottom: 50px;
  }
  .formacion{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

   }

  .formacion .cards {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding:20px 0px;
  }
    section .cards div {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 150px;
      padding: 20px;
      border:solid 1px #f7aaff;
      /*background: #f7aaff;*/
      border-radius: 5px;
      color:#;
    }
.proyectos{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.proyectos .cards-projects{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:10px;
  padding:20px 0px;
}

.cards-projects a{
  /* border:solid 2px #FCDFFF; */
  background:transparent;
  border-radius:5px;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:0.2s all ease-in;
}
.cards-projects a i{
  font-size: 5em;
  color:#FCDFFF;
  transition:0.2s all ease-in;
}
.proj-title{
  /* background: #FCDFFF; */
  color:#282828;
  padding:10px;
  transition:0.2s all ease-in;
  /* position:absolute;
  top:20px;
  border-radius: 0px 5px 5px 0px; */
}
.cards-projects a:hover{
  transform:scale(1.1);
}
.cards-projects a:hover i,
.cards-projects a:hover p{
  color:#e800ff;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding:0px 100px;
  /* height: 100vh; */
}
  .skills .bodyskills {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  .skills section {
    width: 200px;
    height: 300px;
    border: solid 2px #e800ff;
    background: trasnparent;
    position: relative;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    .skills section:before {
      content: '';
      position: absolute;
      background: #FCDFFF;
      width: 100%;
      height: 100%;
      z-index: -1;
      right: 10px;
      top: 10px;
      border-radius: 5px;
      box-shadow: 0px 4px 0.3em rgba(0, 0, 0, 0.2);
    }
    .skills section h3 {
      color: #e800ff;
    }
    .skills section .icon {
      position: absolute;
      top: -15px;
      left: -15px;
      background: #e800ff;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3em;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
    .skills section .items {
      margin-bottom: 10px;
    }

    .fas.fa-check{
      color:#e800ff;
    }

    footer{
      display: flex;
      justify-content: center;
      padding: 20px 0px;
    }


    @keyframes deslizar{
     0%{opacity:0%; transform:translateX(-100px);}
     100%{opacity:100%; transform: translateX(0px);}
   }
/*# sourceMappingURL=estilos.css.map */
