<!DOCTYPE html>
<html>
<head>
	<title>Aylen</title>
	<script src="https://kit.fontawesome.com/1204f54e70.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/estilos.css">
</head>
<body>
	<div id="root">

		<div class="profile">
			<div class="conteiner">
					<div class="head">
							<div class="code"> < </div>
							<!-- <div class="avatar"></div> -->
							<div class="name">
								<h1>Aylen_M_C</h1>
							</div>

							<div class="code"> /> </div>
					</div>
					<div class="p-info">
						<div v-for="icon in iconInfo">
							<i  v-bind:class="icon.icon" @click="viewInfo"></i>
							<div v-bind:class="infoClass">
								{{icon.content}}
							</div>
						</div>
						
							<!-- <p>{{getEdad()}} años</p>
							<p>{{personal.city}}, {{personal.pais}}</p> -->
					</div>
			</div>
		</div>

		<div class="seccion-b">
			<section class="formacion">
				<h1 class="title">Formación</h1>
				<div class="cards">
					<div v-for="item in formacion">
						<small>{{item.periodo}}</small>
						<h3>{{item.titulo}}</h3>
						<p>{{item.nombre}}</p>
					</div>
				</div>
			</section>
			<section class="proyectos">
				<h1 class="title">Proyectos</h1>
				<div class="cards-projects">
					<a v-for="proj in projects" v-bind:href="proj.link" target="_blank">
						<i class="fas fa-folder-open"></i>
						<p class="proj-title">{{proj.name}}</p>

					</a>
				</div>
			</section>
		</div>

		<div class="skills">
			<h1 class="title">Habilidades</h1>
			<div class="bodyskills">
				<section v-for="sk in skills">
					<div class="icon"><i v-bind:class="sk.icon"></i></div>
					<div>
						<div class="items" v-for="item of sk.stack">
							<h3>{{item.tech}}</h3>
							<p>{{item.rango}}</p>
						</div>
					</div>
					<div>
						<div class="items" v-for="item of sk.soft">
							<i class="fas fa-check"></i>
							<p>{{item}}</p>
						</div>
					</div>
					<div>
						<div class="items"  v-for="item of sk.idioma">
							<h3>{{item.lengua}}</h3>
							<p>{{item.nivel}}</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer>
			Aylen Mendiolar Colombo ✦ 2021
		</footer>
	</div>

	<script src="./js/app.js"></script>
</body>
</html>
